//TODO: variable fix
@mixin brand() {
  .navbar-brand{
    position: relative;
    left: 50%;
    padding-left: 39px;
    margin-left: -39px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 30px;
    transform: translate(-50%, 0%);
    font-size:18px;
    font-weight: 700;
    color:#212121;
    text-decoration: none;
    height: 30px;
    .brand-logo{
      display: inline-block;
      width: 30px;
      height: 30px;
      background:#d81e05;
      border-radius: 100%;
      overflow: hidden;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      img{
        display: block;
        max-width: 100%;
        border-radius: 100%;
      }
    }
    @media (max-width: 992px) {
      left: 5px;
      margin-left: 0px;
      transform: translate(0%, 0%);
    }
    @media (max-width: 601px) {
      .brand-logo{
        top: 0px;
        transform: translate(0%, 0%);
        & + span{
          display: none;
        }
      }
    }
  }
}

@mixin navbar() {
  .navbar{
    @include brand();
    .navbar-nav{
      margin-top: 0px;
    }
    .nav-link{
      display: block;
      padding: 0px 1em;
    }
    .auth-link{
      position: relative;
      padding-right: 44px;
      text-align: right;
      text-decoration: none;
      span{
        display: block;
        color:#212121;
        line-height: 1.1;
        &:nth-child(1){
          font-size: 16px;
          font-weight: 700;
        }
        &:nth-child(2){
          font-size: 12px;
          font-weight: 400;
        }
        &:nth-child(3){
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(0, -50%);
          display: inline-block;
          width: 36px;
          height: 36px;
          background: #7b7b7b;
          border-radius: 100%;
          overflow: hidden;
          img{
            display: block;
            max-width: 100%;
            border-radius: 100%;
          }
        }
      }
    }
    .sign{
      font-size:12px;
      line-height: 2.4;
      padding: 0 1em;
      color: #d81e05;
      text-decoration: none;
    }
    @media (max-width: 601px) {
      display: flex;
      flex-direction: inherit;
      .ml-auto.navbar-nav{
        display: block;
        width: auto;
        float: right;
        .nav-item{
          display: inline-block;
          float: left;
          //&:last-child{
          //  float: right;
          //}
        }
      }
    }
  }
}

@mixin aside() {
  .aside-nav{
    background: #1e1e1e;
    color: #eee;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: auto;
    height: 100%;
    min-height: calc(100vh - 46px);
    .nav{
      .nav-item{
        position: relative;
        &.active{
          background: #464646;
          &:after{
            content: "";
            width: 4px;
            height: 100%;
            background: #d81e05;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
        .nav-link{
          text-align: center;
          font-size: 10px;
          color: #eee;
          text-transform: uppercase;
          line-height: 1;
          padding: 1.3em 1em;
          min-width: 72px;
          .icon{
            display: block;
            margin: 0 auto 6px;
            border: 1px solid #eeeeee;
            border-radius: 100%;
            width: 30px;
            height: 30px;
          }
          &:hover{
            color: white;
            .icon{
              border-color: white;
            }
          }
        }
      }
    }
  }
}

@mixin pageHeader() {
  .page-header{
    h1{
      font-size:20px;
      line-height: 1.4;
      color:#eeeeee;
      margin: 10px 0;
    }
  }
}

@mixin list-transp() {
  .list-group-transp{
    .list-group-item{
      background-color: transparent;
      padding: 5px 1.25rem;
      border: 0;
    }
  }
}

@mixin card() {
  .card{
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.20);
    margin-bottom: 16px;
    border: 0px;
    .card-title{
      font-size:16px;
      color:#212121;
      font-weight: 700;
    }
    button{
      margin-bottom: 10px;
      & + button{
        margin-left: 8px;
      }
    }
    .pull-right{
      float: right;
    }
    .auto.card-block{
      padding-bottom: 0px;
    }
    @include list-transp();
  }
}

@mixin period() {
  .period{
    label{
      padding-right: 8px;
    }
    span{
      span{
        color:#d81e05;
        margin-right: 8px;
        border-bottom: 2px solid transparent;
        cursor: pointer;
        &.active{
          border-bottom-color: #d81e05;
        }
      }
    }
  }
}

@mixin switch() {
  .switch{
    margin-bottom: 8px;
    > div{
      > span{
        margin-right: 8px;
        color:#d81e05;
        text-transform: uppercase;
        border-bottom: 2px solid transparent;
        cursor: pointer;
        &.disable{
          border-bottom: 2px solid #d81e05;
        }
      }
    }
    &.active{
      > div{
        > .enabled{
          border-bottom: 2px solid #d81e05;
        }
        > .disable{
          border-bottom: 2px solid transparent;
        }
      }
    }
  }
}

@mixin range() {
  .range{
    label{
      margin-bottom: 0;
      color:#212121;
    }
    section{
      height:30px;
      position: relative;
      padding: 0 50px 40px 14px;
      .min, .value{
        position: absolute;
        top: 0;
      }
      .min{
        display: inline-block;
        line-height:30px;
        left: 0;
      }
      .value{
        right: 0;
        display: inline-block;
        background:#ffffff;
        border:1px solid rgba(0,0,0,0.50);
        width:40px;
        height:30px;
        line-height:30px;
        text-align: center;
      }
    }
  }
}

@mixin collapse-obj() {
  .collapse-obj{
    > header{
      background: #ffffff;
      color: #212121;
      font-weight: 700;
      padding: .4rem 1.13rem;
      margin-top: 5px;
      margin-bottom: 5px;
      cursor: pointer;
    }
  }
}

@mixin checkboxwr($color:"#666666") {
  &:after{
    content: "";
    border:1px solid $color;
    color: $color;
    border-radius:2px;
    width:13px;
    height:13px;
    position: absolute;
    left: 16px;
    top: 50%;
    line-height: 10px;
    text-align: center;
    font-size: 12px;
    transform: translate(0 -50%);
    cursor: pointer;
  }
  &.active{
    &:after{
      content: "×";
    }
  }
}

@mixin notification() {
  .notifications{
    .notification{
      padding-left: 48px;
      position: relative;
      > div{
        display: block;
        width: 100%;
      }
      @include checkboxwr();
      &.active{
        background-color: #d81e05;
        border-color: #d81e05;
        &:after{
          background:#d81e05;
          border:1px solid #ffffff;
        }
      }
    }
  }
}

@mixin valid-status() {
  .valid-status{
    display: inline-block;
    font-size:12px;
    color:#999999;
    line-height:16px;
    padding-left: 24px;
    font-weight: 700;
    vertical-align: super;
  }
}

@mixin table() {
  .table-wrapper{
    table{
      th {
        font-weight: normal;
      }
      td, th{
        line-height: 1;
      }
      .table-form-check{
        padding-left: 36px;
        position: relative;
        @include checkboxwr();
        &:after{
          left: 6px;
        }
      }
    }
    &.alerts-table{
      th, td{
        border-right: 1px solid transparent;
        border-bottom: 1px solid transparent;
        &:first-child{
          width: 280px;
        }
        &:nth-last-child(2), &:last-child{
          text-align: right;
        }
      }
      tr.active{
        td{
          background: #d81e05;
          color: white;
          border-right: 1px solid #d81e05;
          border-bottom: 1px solid #d81e05;
        }
      }
    }
  }
}

@mixin disabled() {
  button.disabled{
    opacity: .5;
  }
}

.settings-app{
  display: block;
  height: 100vh;
  overflow: auto;
  .container, .container-fluid{
    position: relative;
    padding-left: 88px;
    padding-right: 18px;
  }
  .wrapper.output{
    margin: 25px;
  }
  @include navbar();
  @include aside();
  @include pageHeader();
  @include card();
  @include period();
  @include switch();
  @include range();
  @include collapse-obj();
  @include notification();
  @include valid-status();
  @include table();
  @include disabled();
}
